<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Purple Admin</title>
    <th:block th:replace="librarian/common :: head"></th:block>
</head>


<body>
<div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->

    <div th:replace="librarian/common :: navbar"></div>

    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <div class="row row-offcanvas row-offcanvas-right">
            <!-- partial:../../partials/_sidebar.html -->

            <th:block th:replace="librarian/common :: sidebar"></th:block>

            <!-- partial -->
            <div class="content-wrapper">
                <div class="row">


                    <div class="col-lg-12">
                        <div class="btn-group" id="toolbar">
                            <button class="btn btn-primary" data-target="#editModal" data-toggle="modal"
                                    id="btn_add" onclick="window.location.href='bookAdd.html'"
                                    type="button">
                                <span aria-hidden="false" class="glyphicon glyphicon-plus"></span>Add
                            </button>
                            <button class="btn btn-primary" data-target="#editModal" data-toggle="modal"
                                    id="btn_delete" onclick="window.location.href='bookDelete.html'"
                                    type="button">
                                <span aria-hidden="false" class="glyphicon glyphicon-plus"></span>Delete
                            </button>

                            <div class="search-field ml-4 d-none d-md-block">
                                <div class="input-group">
                                    <input class="form-control bg-transparent border-0" id="search"
                                           placeholder="Search Book" type="text">
                                    <div class="input-group-addon bg-transparent border-0 search-button">
                                        <button class="btn btn-sm bg-transparent px-0" onclick="Search()" type="button">
                                            <i class="mdi mdi-magnify"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="card">

                            <div class="card-header d-flex align-items-center">
                                <h3 class="h4">Book Manage</h3>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-striped table-sm">
                                        <thead>
                                        <tr>
                                            <th><strong>ISBN</strong></th>
                                            <th><strong>title</strong></th>
                                            <th><strong>author</strong></th>
                                            <th><strong>price</strong></th>
                                            <th><strong>location</strong></th>
                                            <th><strong>copyNumber</strong></th>
                                            <th><strong>bookId</strong></th>
                                            <th><strong>action</strong></th>
                                        </tr>
                                        </thead>
                                        <tbody id="list">

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:../../partials/_footer.html -->

            <div th:replace="librarian/common :: footer"></div>
            <!-- partial -->
        </div>
        <!-- row-offcanvas ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->

<div th:replace="librarian/common :: scripts"></div>

<script>
    // $("#select1").bind("click", function(){
    function join(list) {
        var str = "";
        for (elem of list)
            str += list + " ";
        return str;
    }

    $.ajax({
        url: "/api/search/book/description",
        type: "POST",
        dataType: 'json',
        async: false,
        success: function (resp) {
            $.each(resp.data,
                function (i, values) {
                    $('#list').append(
                        // "<tr><td>"+values.bookId+"</td></tr>"
                        "<tr><td>" + values.isbn + "</td>" +
                        "<td>" + values.title + "</td>" + "<td>" + values.author + "</td>"
                        + "<td>" + values.price + "</td>"
                        + "<td>" + values.location + "</td>"
                        + "<td>" + values.copyNumber + "</td>"
                        + "<td>" + values.bookIdList.join() + "</td>"
                        + "<td>" + "<button onclick=\"window.location.href='/librarian/bookUpdate.html?isbn="+ values.isbn + "'\">update</button>" + "</td></tr>"
                    );
                }
            );
            console.log(resp.data);
        }
    });
</script>

<script>
    function Search() {
        if (!checkInputBoxEmpty("#search")) return;

        var form = new FormData();
        form.append("title", $("#search").val());

        $("#list").html("");

        $.ajax({
            url: "/api/search/book/description",
            type: "POST",
            dataType: 'json',
            data: form,
            contentType: false,
            processData: false,
            async: false,
            success: function (resp) {
                $.each(resp.data,
                    function (i, values) {
                        $('#list').append(
                            // "<tr><td>"+values.bookId+"</td></tr>"
                            "<tr><td>" + values.isbn + "</td>" +
                            "<td>" + values.title + "</td>" + "<td>" + values.author + "</td>"
                            + "<td>" + values.price + "</td>"
                            + "<td>" + values.location + "</td>"
                            + "<td>" + values.copyNumber + "</td>"
                            + "<td>" + values.bookIdList.join() + "</td>"
                            + "<td>" + "<button onclick=\"window.location.href=" + "'/bookUpdate.html'" + "\">update</button>" + "</td></tr>"
                        );
                    }
                );
                console.log(resp.data);
            }
        });

        /*$.ajax({
            url: "/api/search/book?page=0&limit=20",
            type: "POST",
            dataType: 'json',
            async: false,
            success: function (resp) {
                $.each(resp.data,
                    function (i, values) {
                        $('#list').empty("");
                        $('#list').append(
                            // "<tr><td>"+values.bookId+"</td></tr>"
                            "<tr><td>" + values.bookDescriptionModel.isbn + "</td>" +
                            "<td>" + values.bookDescriptionModel.title + "</td>" + "<td>" + values.bookDescriptionModel.author + "</td>"
                            + "<td>" + values.bookDescriptionModel.price + "</td>"
                            + "<td>" + values.bookDescriptionModel.location + "</td>"
                            + "<td>" + values.bookDescriptionModel.copyNumber + "</td>"
                            + "<td>" + values.bookId + "</td>"
                            + "<td>" + "<button onclick=\"window.location.href=" + "'/bookUpdate.html'" + "\">update</button>" + "</td></tr>"
                        );
                    }
                );
                console.log(resp.data);
            }
        });*/
    }
</script>
</body>

</html>
