<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:fragment="head">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- plugins:css -->
        <link rel="stylesheet" th:href="@{/librarian/node_modules/mdi/css/materialdesignicons.min.css}">
        <link rel="stylesheet" th:href="@{/librarian/node_modules/perfect-scrollbar/dist/css/perfect-scrollbar.min.css}">
        <link rel="stylesheet" th:href="@{/librarian/node_modules/icheck/skins/all.css}" />
        <link rel="stylesheet" th:href="@{/librarian/node_modules/select2/dist/css/select2.min.css}" />
        <link rel="stylesheet" th:href="@{/librarian/node_modules/select2-bootstrap-theme/dist/select2-bootstrap.min.css}" />
        <link rel="stylesheet" th:href="@{/librarian/css/style.css}" />
    </th:block>
</head>
<body>

<th:block th:fragment="navbar">
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
            <a class="navbar-brand brand-logo" href="../../index.html"><img th:src="@{/librarian/images/Logo.png}" alt="Logo"/></a>
            <a class="navbar-brand brand-logo-mini" href="../../index.html"><img th:src="@{/librarian/images/logo-mini.svg}" alt="logo"/></a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-stretch">

            <ul class="navbar-nav navbar-nav-right">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle nav-profile" id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                        <!-- img th:src="@{/librarain/images/faces/face1.jpg}" alt="image" -->
                        <span class="d-none d-lg-inline" th:text="${session.userName}"></span>
                    </a>
                </li>
                <li class="nav-item nav-logout d-none d-lg-block">
                    <a class="nav-link" th:href="@{/librarian/login}">
                        <i class="mdi mdi-power"></i>
                    </a>
                </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                <span class="mdi mdi-menu"></span>
            </button>
        </div>
    </nav>
</th:block>

<th:block th:fragment="footer">
    <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2019<a href="http://www.cssmoban.com/" title="网页模板" target="_blank"></a></span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"><i class="mdi mdi-heart text-danger"></i></span>
        </div>
    </footer>
</th:block>

<th:block th:fragment="scripts">
    <script th:src="@{/librarian/node_modules/jquery/dist/jquery.min.js}"></script>
    <script th:src="@{/librarian/node_modules/popper.js/dist/umd/popper.min.js}"></script>
    <script th:src="@{/librarian/node_modules/bootstrap/dist/js/bootstrap.min.js}"></script>
    <script th:src="@{/librarian/node_modules/perfect-scrollbar/dist/js/perfect-scrollbar.jquery.min.js}"></script>
    <script th:src="@{/librarian/node_modules/icheck/icheck.min.js}"></script>
    <script th:src="@{/librarian/bower_components/typeahead.js/dist/typeahead.bundle.min.js}"></script>
    <script th:src="@{/librarian/node_modules/select2/dist/js/select2.min.js}"></script>
    <script th:src="@{/librarian/js/off-canvas.js}"></script>
    <script th:src="@{/librarian/js/misc.js}"></script>
    <script th:src="@{/librarian/js/file-upload.js}"></script>
    <script th:src="@{/librarian/js/iCheck.js}"></script>
    <script th:src="@{/librarian/js/typeahead.js}"></script>
    <script th:src="@{/librarian/js/select2.js}"></script>
    <script th:src="@{/librarian/js/JsBarcode.all.js}"></script>
    <script>
        function getFormData(dic) {
            formData=new FormData();
            for (var key in dic)
                formData.append(key, dic[key]);
            return formData;
        }
    </script>
</th:block>

</body>
</html>