<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="librarian/common :: head"></th:block>
<body>
<div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->

    <div th:replace="librarian/common :: navbar"></div>

    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <div class="row row-offcanvas row-offcanvas-right">
            <!-- partial:../../partials/_sidebar.html -->

            <th:block th:replace="librarian/common :: sidebar"></th:block>

            <!-- partial -->
            <div class="content-wrapper">
                <section class="forms">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12" style="display: flex; flex-direction:column">
                                <div class="card">

                                    <div class="card-header d-flex align-items-center">

                                        <h3 class="h4">Search News by id</h3>


                                    </div>
                                    <div class="card-body col-sm-8" style="align-self: center">
                                        <div class="form-inline">
                                            <div class="form-group col-sm-10">

                                                <input class="form-control col-12" id="inlineFormInput"
                                                       placeholder="Jane Doe"
                                                       style="" type="text">
                                            </div>
                                            <div class="form-group col-sm-2">
                                                <button class="btn btn-primary" data-_extension-text-contrast=""
                                                        id="search-btn"
                                                        onclick="Search()" type="">Search
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="client no-padding-top">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12 grid-margin">


                                <!--               <button id="btn_add" type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModal" onclick="window.location.href='postAdd.html'">
                                                <span class="glyphicon glyphicon-plus" aria-hidden="false"></span>Add
                                              </button> -->
                                <div class="card">

                                    <div class="card-header d-flex align-items-center" id="postNewHeader">
                                        <div>
                                            <h3 class="h4">Post News&nbsp;&nbsp;</h3>

                                        </div>
                                        <div class="box111" onclick="window.location.href='postAdd.html'"></div>
                                    </div>


                                    <div class="container-fluid">
                                        <div class="row" id="postContainer">

                                            <div class="col-md-6" th:each="news: ${newsList}" style="margin-top: 20px; margin-bottom: 20px;" th:id="${news.getNewsId()}">
                                                <div class="card111">
                                                    <div class="card-header bg-light">
                                                        <a th:href="@{/reader/news(id=${news.getNewsId()})}" th:text="${news.getTitle()}"></a>
                                                        <div class="card-actions"></div>
                                                    </div>
                                                    <div class="card-body">
                                                        <span th:text="'Date: ' + ${#dates.format(news.getDate(), 'dd-MM-yyyy')}">Date</span>
                                                        <span th:text="'Author: ' + ${news.getUser().getName()}">Author</span>
                                                        <br>
                                                        <hr>
                                                        Content：
                                                        <br>
                                                        <p class="contentP" th:text="${news.getContent()}">content</p>
                                                        <div style="float: right">
                                                            <a class="btn" href="#" th:onclick="'deleteR(' + ${news.getNewsId()} + ')'">
                                                                <i class="fa fa-times">Delete</i>
                                                            </a>
                                                            <a class="btn" href="#" th:onclick="'updatePost(' + ${news.getNewsId()} + ')'">
                                                                <i class="fa fa-cog">Edit</i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <div th:replace="librarian/common :: footer"></div>
        </div>
    </div>
</div>
<div th:replace="librarian/common :: scripts"></div>

<script>
    function Search() {
        if ($("#inlineFormInput").val() == "") {
            alertWarning("The input can't be empty!");
            return;
        }

        window.location.href="/librarian/postManage?title=" + $('#inlineFormInput').val();
    }
</script>
<script>
    function updatePost(id) {
        window.open('postUpdate.html?id=' + id);
    }

    function deleteR(id) {
        var str = window.confirm("Delete this Post?");
        if (str == true) {
            deletePost(id);
        }
    }

    function deletePost(id) {
        $.ajax({
            url: "/api/news/" + id,
            type: "delete",
            datatype: "json",
            processData: false,
            contentType: false,
            success: function (resp) {
                console.log(resp);
                alertSuccess("success");
                $("#"+id).remove();
            },
            error: function (resp) {
                alertError(resp.responseJSON.message);
            }
        });
    }

</script>


</body>

</html>
