<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <th:block th:replace="reader/common :: heads"></th:block>
</head>
<body>

<th:block th:replace="reader/common :: navbar"></th:block>

<main class="page landing-page">
    <section class="clean-block clean-hero"
             style="min-height: 350px; background-image:url(&quot;/reader/img/index_bg.jpg&quot;);color:rgba(9,162,255,0.76);">
        <div class="text">
            <h2>Mandarin-Library Automation<br></h2>
            <p>Presenting Wonderful for You</p>
        </div>
    </section>

    <section class="clean-block clean-info dark">
        <div class="container">
            <div class="block-heading">
                <div class="container">
                    <div class="row">
                        <div class="col-2"></div>
                        <div class="col-8">
                            <label for="search-field">
                                <i class="fa fa-search" style="font-size: 36px; color: rgb(34, 34, 34);"></i>
                            </label>
                            <input id="search-box" type="search" class="fForm-control"
                                   style="width: 80%; height: 40px; margin: 9px;">
                            <button id="search-btn" type="button" class="btn btn-primary"
                                    data-_extension-text-contrast="">Search
                            </button>
                        </div>
                        <div class="col-2"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">NEWS<br></h2>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-5 feature-box" th:each="news: ${newsList}">
                    <i class="icon-star icon"></i>
                    <h4 th:text="${news.getTitle()}">title</h4>
                    <p th:text="${#strings.abbreviate(news.getContent(), 300)}">content</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12"><a th:href="@{/reader/newslist}" style="float: right">more news</a></div>
            </div>
        </div>
    </section>
</main>


<th:block th:replace="reader/common :: footer"></th:block>

<th:block th:replace="reader/common :: scripts"></th:block>

<script>
    $("#search-btn").bind("click", function () {
        window.location.href = "/reader/search/?q=" + $("#search-box").val();
    })
</script>

</body>
</html>