<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <th:block th:replace="reader/common :: heads"></th:block>
</head>
<body>
<th:block th:replace="reader/common :: navbar"></th:block>

<main class="page blog-post-list">
    <section class="clean-block clean-blog-list dark">
        <div class="container">


            <div class="block-content">
                <div th:if="${news == null}">
                    <h1>There is no such news.</h1>
                </div>
                <div th:if="${news != null}">
                    <h2 class="h2Center" th:text="${news.getTitle()}" id="title" style="font-size: 1.5rem;font-weight: 900;line-height: 2;">title</h2>

                    <hr />

                    <div class="container">
                        <p id="content" th:utext="${news.getContent()}">content</p>
                    </div>

                    <div style="float: right; ">
                        <p class="spanNews" style="float: right" id="author" th:text="${news.getUser().getName()}">author</p>
                        <h5 style="float: right; margin-right: 10px;">Poster: </h5>
                        <br>
                        <p class="spanNews" id="date" style="float: right" th:text="${date}">date</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>


<th:block th:replace="reader/common :: footer"></th:block>
<th:block th:replace="reader/common :: scripts"></th:block>

</body>
</html>