<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="admin/common :: heads"></th:block>
</head>
<body>
<div class="page">
    <div th:replace="admin/common :: navbar"></div>
    <div style="padding-bottom: 59.2px;position: relative;min-height: calc(100vh - 70px);">
        <!-- Page Header-->
        <!-- header class="page-header">
            <div class="container-fluid">
                <h2 class="no-margin-bottom">Oops...</h2>
            </div>
        </header -->

        <div style="text-align: center; color: #808080;margin-top: 100px;">
            <h1 style="font-size: 4rem;font-weight: 900;">Oops...</h1>
            <h1>403</h1>
            <p>Unauthorized, please login with an administrator account.</p>
        </div>

        <!-- Page Footer-->
        <!-- div th:replace="admin/common :: footer"></div -->
    </div>
</div>

<div th:replace="admin/common :: scripts"></div>

</body>
</html>
