<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="admin/common :: heads"></th:block>
</head>
<body>
    <div class="page">
    <div th:replace="admin/common :: navbar"></div>

    <div class="page-content d-flex align-items-stretch">
        <!-- Side Navbar -->
        <nav class="side-navbar">
            <ul class="list-unstyled">
                <li><a href="/admin/index"> <i class="icon-home"></i>Welcome </a></li>
                <li class="active"><a href="#librarian-dropdown" aria-expanded="false" data-toggle="collapse">
                    <i class="icon-interface-windows"></i>Librarian Management </a>
                    <ul id="librarian-dropdown" class="collapse list-unstyled ">
                        <li><a href="/admin/search">Search and manage</a></li>
                        <li><a href="/admin/register">Register</a></li>
                    </ul>
                </li>
                <li><a href="/admin/setting"> <i class="icon-grid"></i>Settings Management </a></li>
                <li><a href="/admin/login"> <i class="icon-interface-windows"></i>Login page </a></li>
            </ul><span class="heading">Extras</span>
            <ul class="list-unstyled">
                <li> <a href="/admin/about"> <i class="icon-flask"></i>About us </a></li>
            </ul>
        </nav>

        <div class="content-inner">
            <!-- Page Header-->
            <header class="page-header">
                <div class="container-fluid">
                    <h2 class="no-margin-bottom">Search</h2>
                </div>
            </header>
            <!-- Dashboard Counts Section-->
            <section class="forms">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12" style="display: flex; flex-direction:column">
                            <div class="card">
                                <div class="card-close">
                                    <div class="dropdown">
                                        <button type="button" id="closeCard3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle" data-_extension-text-contrast=""><i class="fa fa-ellipsis-v"></i></button>
                                        <div aria-labelledby="closeCard3" class="dropdown-menu dropdown-menu-right has-shadow"><a href="#" class="dropdown-item remove"> <i class="fa fa-times"></i>Close</a><a href="#" class="dropdown-item edit"> <i class="fa fa-gear"></i>Edit</a></div>
                                    </div>
                                </div>
                                <div class="card-header d-flex align-items-center">
                                    <h3 class="h4">Search librarians</h3>
                                </div>
                                <div style="align-self: center" class="card-body col-sm-8">
                                    <div class="form-inline">
                                        <div class="form-group col-sm-10">

                                            <input type="text" placeholder="Jane Doe" id="inlineFormInput" class="form-control col-12" style="">
                                        </div>
                                        <div class="form-group col-sm-2">
                                            <button type="" id="search-btn" data-_extension-text-contrast="" class="btn btn-primary">Search</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="client no-padding-top">
                <div class="container-fluid">
                    <div class="row">
                        <!-- Client Profile -->
                        <div class="col-lg-12">
                            <div class="card">

                                <div class="card-header d-flex align-items-center">
                                    <h3 class="h4">Search results</h3>
                                </div>

                                <div class="container-fluid">
                                    <div class="row" id="librarian-result" style="margin-top: 30px;">
                                        <div style="color: #808080;" class="col-sm-12 text-center">
                                            <h1>Welcome search page</h1>
                                            <p>Fill search box to search librarian by name</p>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </section>

            <!-- Page Footer-->
            <div th:replace="admin/common :: footer"></div>
            </div>
        </div>
    </div>

    <div th:replace="admin/common :: scripts"></div>
    <div th:replace="admin/common :: search_scripts"></div>

    <script th:replace="admin/common :: search_result_template"></script>
    <script th:replace="admin/common :: search_searching_words_template"></script>
    <script th:replace="admin/common :: search_empty_words_template"></script>
    <script th:replace="admin/common :: search_error_words_template"></script>

    <script>
        let source = document.getElementById("librarian-result-template").innerHTML;
        let template = Handlebars.compile(source);

        let searchingWords = Handlebars.compile($("#searching-words").html());
        let emptyWords = Handlebars.compile($("#empty-words").html());
        let errorWords = Handlebars.compile($("#error-words").html());

        $("#search-btn").bind("click", function () {
            let formData = new FormData();
            if ($("#inlineFormInput").val() == ""){
                alert("con not be empty");
                return;
            }

            formData.append("name", $("#inlineFormInput").val());

            for (elem of $("#librarian-result").children()) elem.remove();
            $("#librarian-result").append(searchingWords(""));

            $.ajax({
                url: "/api/search/librarian/",
                type: "POST",
                dataType: "json",
                data: formData,
                processData: false,
                contentType: false,
                success: function (resp){
                    for (elem of $("#librarian-result").children()) elem.remove();

                    if (resp.data.length == 0)
                        $("#librarian-result").append(emptyWords(""));
                    else for (elem of resp.data) {
                        elem.avatar=get_identicon(elem.name);
                        elem.signUpTime=moment(elem.signUpTime, "YYYY-MM-DD hh:mm:ss").format('YYYY-MM-DD');
                        $("#librarian-result").append(template(elem));
                    }
                },
                error: function (resp) {
                    for (elem of $("#librarian-result").children()) elem.remove();

                    $("#librarian-result").append(errorWords(resp));
                }
            });
        })

        function get_identicon (text) {
            let size = 100;
            let outputType = "HEX";
            let hashtype = "SHA-1";

            let shaObj = new jsSHA(text, "TEXT");
            let hash = shaObj.getHash(hashtype, outputType, 1);
            let data = new Identicon(hash, size).toString();
            return 'data:image/png;base64,' + data;
        }
    </script>

    <script>
        function deleteLibrarian(userId) {
            $.ajax({
                url: "/api/librarian/" + userId,
                type: "DELETE",
                success: function (resp) {
                    $("#librarian-"+userId).remove();
                    if ($("#librarian-result").children().length == 0){
                        let emptyWords = Handlebars.compile($("#empty-words").html());
                        $("#librarian-result").html(emptyWords(""));
                    }
                },
                error: function (resp) {
                    alert(resp.message);
                }
            });
        }

        function editLibrarian(userId){
            let formData = new FormData();
            formData.append("name", $("#edit-librarian-name-"+userId).val());
            formData.append("phoneNumber", $("#edit-librarian-phoneNumber-"+userId).val());
            formData.append("email", $("#edit-librarian-email-"+userId).val());
            formData.append("password", $("#edit-librarian-password-"+userId).val());

            $.ajax({
                url: "/api/librarian/" + userId,
                type: "PUT",
                data: formData,
                processData: false,
                contentType: false,
                success: function (resp) {
                    alert("success");
                },
                error: function (resp) {
                    alert(resp.message);
                }
            });
        }
    </script>
</body>
</html>
